body {
    color: #555555;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.02em;
    box-sizing: border-box;
}
*{
    font-family: 'Open Sans', sans-serif;
}
// font-family: 'Raleway', sans-serif;
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    font-family: 'Open Sans', sans-serif;
    text-decoration:none;
}
h1,
h2,
h3,
h4,
h5,
p,
ul {
    margin: 0;
}
h1,
h2,
h3{
font-family: 'Raleway', sans-serif;
letter-spacing: 0.05em;
color: var(--black);
}
p {
    letter-spacing: 0.02em;
}
button {
    min-height: 40px;
     background-color: transparent;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    line-height: calc(16.3 / 12);
    border-radius: 25px;
    font-size: 12px;
    transition: 300ms linear;
    transition-property: color,  background-color;
    
}

img {
    display: block;
    max-width: 100%;
}