:root {
    --white:#ffffff;
    --orange:#FF6C00;
    --gray:#9DA4BD99;
    --gray100:#9DA4BD;
    --black30:#303030;
    --black55:#555555;
    --black19:#191C26;
    --bg-team:#F7F7F7;
    --bg-booking:#191C26;
    --linear:linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2));
}