.about {
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    padding: 84px 0;
@include tabl{
    padding: 100px 0;
}
@include desk{
    padding: 120px 0;

}
}
.about-wrapper {
    display: flex;
    gap: 30px;
    
}
.about-title__wrapper {
  max-width: 100%;
@include tabl{
    width: 360px;
}
  @include desk{
        max-width: 570px;
    }
}
.about-list {
   display: none;
@include tabl {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
@include desk{
    flex-direction: row;
   
} 
}

.uptitle {
    font-size: 8px;
    text-transform: uppercase;
    line-height: calc(13 / 8);
    color: var(--black30);
    font-weight: 600;
    display: flex; 
    align-items: center;
    gap: 20px;
    max-width: 300px;
   margin-bottom: 20px;
  &::before {
    content: " ";
    height: 1px;
    width: 60px;
    background-color: var(--black30);
   
}
@include mobile {
    font-size: 11px;
    line-height: calc(15 / 11);
}
}

.title__about{
    width: 277px;
    margin-bottom: 20px;
    font-size: 28px;
    line-height: calc(32.8 / 28);
    letter-spacing: 0.05em;
@include desk{
    font-size: 42px;
    line-height: calc(49 / 42);
    min-width: 470px;
}
}
.about__subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(20 / 14);
    margin-bottom: 20px;
    color: var(--black55);
@include mobile {
    font-size: 16px;
    line-height: calc(26 / 16);
}
@include tabl {
    font-size: 18px;
    line-height: calc(30 / 18);
}
@include desk
{min-width: 470px;}
}
.about__text {
   max-width: 100%;
    font-size: 12px;
    line-height: calc(20 / 12);
    margin-bottom: 40px;
    color: var(--black55);
@include mobile{
    font-size: 14px;
    line-height: calc(26 / 14);
}
@include tabl{
    margin-bottom: 77px;
    width: 330px;
}
@include desk{
    margin-bottom: 42px;
    min-width: 470px;
}
}
.about__btn {
    transition: 300ms  linear ;
    transition-property: color, background-color;
    background-color: transparent;
    padding: 12px 20px;
    text-transform: uppercase;
    border-radius: 25px;
    font-size: 12px;
    font-weight: 600;
    height: 40px;
    color: var(--black30);
    border: 1px solid var(--orange);
    &:hover,
    &:focus {
        background-color: var(--orange);
        color:var(--white);
    }
}