.benefits {
    margin: 0 auto;
    padding: 84px 0;
    @include tabl {
        padding: 100px 0;
    }
   @include desk {
        padding: 120px 0;
    }
}
.benefits-wrapper {
    display: flex;
    flex-direction: column;
@include desk{
    flex-direction: row-reverse;
    gap: 130px;
}
}
.benefits_list {
display: flex;
flex-wrap: wrap;
justify-content: center;
@include tabl {
    width: 680px;
    justify-content: flex-end;
}
@include desk {
    width: 370px;
    justify-content: flex-end;
}
 
}
.benefits__list_item {
    background-color: #F7F7F7;
    width: 140px;
    height: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 25px;
    text-align: center;
    &:nth-child(odd){
        margin-right: 20px;
        }  
        &:nth-child(even){
            margin-top: 20px;
            }
@include mobile {
    width: 193px;
    height: 133px;
    padding: 20px 32px;
    &:nth-child(odd){
        margin-right: 30px;
        }
      &:nth-child(even){
            margin-top: 30px;
            }
}
@include tabl {
    width: 210px;
    height: 133px;
}
@include desk {
    width: 170px;
    height: 133px;
    padding: 20px 24px;

}

}

.benefits__number {
    color: var(--black30);
    letter-spacing: 0.05em;
    line-height: calc(57 / 42);
    font-size: 42px;
    font-weight: 700;
    position: relative;
    >sup{
       font-size: 16px;
       line-height: calc(21.8 / 16);
        color: var( --orange);
        position: absolute;
        top: 7px;
    }
}
.benefits__text {
   
    font-size: 8px;
    line-height: calc(13 / 8);
    color: var(--black30);
    font-weight: 600;
    max-width: 122px;
@include mobile{
    font-size: 11px;
    line-height: calc(15 / 11);
}
@include tabl{
    width: 400px;
}
}
.benefits__subtitle{
font-size: 18px;
line-height: calc(30 / 18);
color:var(--black55);
margin-bottom: 44px;
@include tabl    {
    width: 500px;
}
}

.benefits__title {
    margin-bottom: 20px;
    font-size: 28px;
    line-height: calc(36 / 28);
    color:var(--black30);
@include mobile{
    width: 450px;
    font-size: 42px;
    line-height: calc(49 / 42);
}
@include desk{
    font-size: 42px;
    line-height: calc(49 / 42);
    min-width: 470px;
}
}


