.footer {
    max-width: 100%;
    background-color:var(--bg-team);
    padding: 44px 0;
    margin: 0 auto;
   @include mobile{
        width: auto;
    }
@include desk{
    padding: 56px 0;
    max-width: 1600px;
}
}
.footer-soc__wrapper {
    display: flex;
    flex-direction: column;
   gap: 20px;
   @include mobile{
        flex-direction: row;
        justify-content: start;
        gap: 0;
    }
@include tabl {
    justify-content: space-between;
    text-align: center;
   
}
}
.footer-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;   @include mobile{
  margin-top: 35px;
    
  }
  @include tabl {
  margin-top: 0;
    
}
}
.footer-text {
    width: 130px;
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15 / 11);
    color:var(--gray100);
    letter-spacing: 0.2em;  
}
.footer-soc__list {
    display: flex;
    gap: 20px;
    align-items: center;
    max-width: 100%;
    &::before{
        content: " ";
    width: 40px;
    height: 1px;
    background-color: var(--black30);
      
    }
    @include mobile {
        gap: 40px;    
        min-width: 60px;
    }
}
.footer__link {
    display: inline-block;
    transition: 250ms color linear;
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15 / 11);
    color: var(--black);
    letter-spacing: 0.2em;
    cursor: pointer;
    &:hover,
    &:focus {
    color: var(--orange);
}
}