.header {
    overflow: hidden;
    position: absolute;
    top:0;
    left: 0;
    right:0;
    bottom: 0;
    z-index: 2;
    height: 200px;  
background-color: transparent;
display: none;
@include tabl {
    display: block;
}
@include desk{
    padding-top: 32px;
}
}
.container-header 
{
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
}
.nav__header {
   display: flex;
align-items: center;
}
.logo {
    flex-shrink: 0;
    margin-right: 58px;
    border: none;
    fill: var(--white);
  .header-desk-logo {
    fill: var(--black30);
  }
  @include desk{
    margin-right: 131px;
}
}

.header__list {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 20px;
    flex-shrink: 0;
@include desk{
    gap: 30px;
    margin-right: 0;
}
}
.header__list_item {
}
.header__item_link {
    letter-spacing: 0.1em;
    transition: 250ms color linear;
    color: var(--white);
    font-size: 12px;
    line-height: calc(16.3 / 12);
    font-weight: 600;
   &:focus,
    &:hover {
color: var(--orange);
}
}

.header__contacts_wrapper {
    margin-top: 40px;
    gap: 20px;
    display: flex;
   flex-direction: column;
   flex-flow: wrap;
justify-content: flex-end;
  @include desk {
    gap: 43px;
    margin-top: 0;
    justify-content: center;
    align-items: center;
}
}
.header__number {
    letter-spacing: 0.1em;
    margin-right: 19px;
    color: var(--white);
    font-size: 12px;
    line-height: calc(16.3 / 12);
    font-weight: 600;
    transition: 250ms color linear;
    &:hover,
    &:focus {
    color: var(--orange);
}
order: 2;
@include desk{
margin-right: 0;
order: 0;

}
}

.header__btn {
    transition: 250ms background-color linear;
    border-radius: 25px;
    min-width: 160px;
    min-height: 40px;
    padding: 12px 20px;
    border: 1px solid var(--orange);
    text-transform: uppercase;
    color: var(--white);
    font-size: 12px;
    line-height: calc(16.3 / 12);
    font-weight: 600;
    background-color: transparent;
    order: 1;
    &:hover,
    &:focus {
background-color: var(--orange);
}
}

// <------MOB-MENU------->


.mob-header {
   max-width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    fill: var(--white);
@include mobile {
    padding-left: 31px;
    padding-right: 31px;
}
@include tabl {
    display: none;
}
}
.mob-header__btn {
    display: inline-block;
    background-color: transparent;
    width: 40px;
    height: 40px;
    border: none;
    padding: 0;
   top: 48px;
    right: 31px;
}
.header-svg-logo {
    fill: var(--white);
}
.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

