.hero {
   
}

.hero__wrapper {
@media screen and (min-width:768px) {
    display: flex;
}

}
.hero-soc {
    display: none;
@media screen and (min-width:768px) {
    padding-bottom: 40px;
    padding-left: 27px;
    display: flex;
    align-items: flex-end;
    width: 100px;
}    
}
.hero-list {
    display: flex;
    transform:  rotate(-90deg) translateY(100%);
    transform-origin: bottom left ;
   gap: 30px;
   align-items: center;
    &::before{
    content: " ";
    min-width: 60px;
    height: 1px;
    background-color: var(--black);
}
}


.hero__item_link {
    transition: 250ms color linear;
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15 / 11);
    color: var(--black);
    letter-spacing: 0.2em;
    cursor: pointer;

    &:hover,
    &:focus {
    color: var(--orange-active);
}
}

.hero-bg {
    height: auto;
    padding-left: 31px;
    padding-bottom: 209px;
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    background-image:
    linear-gradient(rgba(25, 28, 38, 0.2),
    rgba(25, 28, 38, 0.2)), url(../images/hero-mob-1x-min.jpg);
 @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) { 
background-image:linear-gradient(rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)), url(../images/hero-mob-2x-min.jpg);
    }
   
@media screen and (min-width:480px) {
    padding-left: 31px;
    padding-bottom: 209px;
    background-image:linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), url(../images/hero-tabl-x1-min.jpg);
@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
background-image: linear-gradient(rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)), url(../images/hero-tabl-x2-min.jpg);
}
   } 
@media screen and (min-width:768px) {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: right;
    gap: 20px;
    flex-grow: 1;
    max-width: 100%;
    padding: 0 0 237px 98px;
    background-image:
    linear-gradient(rgba(25, 28, 38, 0.2),
    rgba(25, 28, 38, 0.2)), url(../images/Slider-hero1.jpg);
    @media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
background-image: linear-gradient(rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)), url(../images/hero-desk-x2-min.jpg);
}
    
}
@media screen and (min-width:1200px) {
   max-width: 1200px;
    padding-left: 100px;
    padding-bottom: 208px;
   
}
}
.hero__uptitle {
    text-transform: uppercase;
    margin-top: 272px;
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15 / 11);
    color: #9DA4BD99;
    display: flex;
    align-items: center;
    &::before {
        content: "";
        display: block;
        height: 1px;
        width: 60px;
        background-color: var(--gray);
        margin-right: 20px;
    }
}

.hero__title {
    font-size: 48px;
    line-height: calc(56 / 48);
    font-weight: 700;
    color: var(--color-white);
    letter-spacing:0.05em;
    font-family:'Raleway', sans-serif;
@media screen and (min-width:1200px) {
    font-size: 72px;
    line-height: calc(84 / 72);
}
}
.hero__subtitle {
    max-width: 321px;
    font-size: 16px;
    line-height: calc(26 / 16);
    color: var(--gray);
@media screen and (min-width:768px) {
    max-width: 360px;
    font-size: 18px;
    line-height: calc(30 / 18);
}
}


.snowflake {
    color: #fff;
    font-size: 1em;
    font-family: Arial;
    text-shadow: 0 0 1px #000;
}

@-webkit-keyframes snowflakes-fall {
    0% {
        top: -10%
    }

    100% {
        top: 100%
    }
}

@-webkit-keyframes snowflakes-shake {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px)
    }

    50% {
        -webkit-transform: translateX(80px);
        transform: translateX(80px)
    }

    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px)
    }
}

@keyframes snowflakes-fall {
    0% {
        top: -10%
    }

    100% {
        top: 100%
    }
}

@keyframes snowflakes-shake {
    0% {
        transform: translateX(0px)
    }

    50% {
        transform: translateX(80px)
    }

    100% {
        transform: translateX(0px)
    }
}

.snowflake {
    position: fixed;
    top: -10%;
    z-index: 9999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    -webkit-animation-name: snowflakes-fall, snowflakes-shake;
    -webkit-animation-duration: 10s, 3s;
    -webkit-animation-timing-function: linear, ease-in-out;
    -webkit-animation-iteration-count: infinite, infinite;
    -webkit-animation-play-state: running, running;
    animation-name: snowflakes-fall, snowflakes-shake;
    animation-duration: 10s, 3s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    animation-play-state: running, running
}

.snowflake:nth-of-type(0) {
    left: 1%;
    -webkit-animation-delay: 0s, 0s;
    animation-delay: 0s, 0s
}

.snowflake:nth-of-type(1) {
    left: 10%;
    -webkit-animation-delay: 1s, 1s;
    animation-delay: 1s, 1s
}

.snowflake:nth-of-type(2) {
    left: 20%;
    -webkit-animation-delay: 6s, .5s;
    animation-delay: 6s, .5s
}

.snowflake:nth-of-type(3) {
    left: 30%;
    -webkit-animation-delay: 4s, 2s;
    animation-delay: 4s, 2s
}

.snowflake:nth-of-type(4) {
    left: 40%;
    -webkit-animation-delay: 2s, 2s;
    animation-delay: 2s, 2s
}

.snowflake:nth-of-type(5) {
    left: 50%;
    -webkit-animation-delay: 8s, 3s;
    animation-delay: 8s, 3s
}

.snowflake:nth-of-type(6) {
    left: 60%;
    -webkit-animation-delay: 6s, 2s;
    animation-delay: 6s, 2s
}

.snowflake:nth-of-type(7) {
    left: 70%;
    -webkit-animation-delay: 2.5s, 1s;
    animation-delay: 2.5s, 1s
}

.snowflake:nth-of-type(8) {
    left: 80%;
    -webkit-animation-delay: 1s, 0s;
    animation-delay: 1s, 0s
}

.snowflake:nth-of-type(9) {
    left: 90%;
    -webkit-animation-delay: 3s, 1.5s;
    animation-delay: 3s, 1.5s
}
