.hero {
   z-index: 222;
   max-width: 100%;
   margin: 0 auto;
}

.hero__wrapper {
@media screen and (min-width:768px) {
    display: flex;
}

}
.hero-soc {
    display: none;
@media screen and (min-width:768px) {
    padding-bottom: 40px;
    padding-left: 27px;
    display: flex;
    align-items: flex-end;
    width: 100px;
   z-index: 222;
    opacity: 1;
}    
}

.hero-list {
    display: flex;
    transform:  rotate(-90deg) translateY(100%);
    transform-origin: bottom left ;
   gap: 30px;
   align-items: center;
    &::before{
    content: " ";
    min-width: 60px;
    height: 1px;
    background-color: var(--black30);
}
}


.hero__item_link {
    transition: 250ms color linear;
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15 / 11);
    color: var(--black);
    letter-spacing: 0.2em;
    cursor: pointer;

    &:hover,
    &:focus {
    color: var(--orange);
}
}

.hero-bg {
    padding-left: 20px;
    padding-bottom: 209px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 580px;
    max-width: 100%;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: var(--gray);
    background-image:
   var(--linear),
     url(../images/hero-tabl-x1-min.jpg);
@include retina { 
background-image:var(--linear),
 url(../images/hero-tabl-x2-min.jpg);
    }

@include mobile{
    width: auto;
    background-size: cover;
    background-position-x: center;
    padding-left: 31px;
    padding-bottom: 209px;
    background-image:var(--linear),
     url(../images/hero-tabl-x1-min.jpg);
    @include retina {
background-image:var(--linear),
  url(../images/hero-tabl-x2-min.jpg);
}
   } 
@include tabl {
    height: auto;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: right;
    gap: 20px;
    width: 570px;
    flex-grow: 1;
    max-width: 100%;
    padding: 0 0 237px 98px;
@include desk {
        max-width: 1200px;
         padding-left: 100px;
         padding-bottom: 208px;
         background-image:var(--linear),
         url(../../images/Slider-hero1.jpg);
        @include retina {
    background-image:var(--linear),
      url(../images/hero-desk-x2-min.jpg);
    }
     }  
}


}
.hero__uptitle {
    text-transform: uppercase;
    margin-top: 272px;
    font-weight: 600;
    font-size: 11px;
    max-width: 300px;
    line-height: calc(15 / 11);
    color: var(--gray);
    display: flex;
    align-items: center;
    &::before {
        content: "";
        display: block;
        height: 1px;
        width: 60px;
        background-color: var(--gray);
        margin-right: 20px;
    }
}

.hero__title {
    font-size: 48px;
    line-height: calc(56 / 48);
    font-weight: 700;
    color: var(--white);
    letter-spacing:0.05em;
    font-family:'Raleway', sans-serif;
@media screen and (min-width:1200px) {
    font-size: 72px;
    line-height: calc(84 / 72);
}
}
.hero__subtitle {
    max-width: 321px;
    font-size: 16px;
    line-height: calc(26 / 16);
    color: var(--gray100);
@media screen and (min-width:768px) {
    max-width: 360px;
    font-size: 18px;
    line-height: calc(30 / 18);
}
}


