.services {
    overflow: hidden;
    background-color: #111319;
    background-image: url(../images/prices-bg-min.png);
    background-repeat: no-repeat;
    background-color: #111319;
    background-size: cover;
    background-position: center;
   margin: 0 auto;
 max-width: 100%;
    font-family: 'Open Sans', sans-serif;
    padding: 84px 0;
   @include retina { 
background-image: url(../images/prices-x2-min.png);
    }
   @include mobile{
    width: auto;
        
    }

@include tabl{
    padding: 100px 26px 100px 39px;
    background-image: url(../images/tabl-prices-x1-min.png);
    @include retina {
        background-image: url(../images/tabl-prices-x2-min.png);

    }
}
@include desk{
    padding: 120px 0;
    max-width: 1600px;
    background-image: url(../images/desk-prices-x1-min.png);
   @include retina {
        background-image: url(../images/desk-prices-x2-min.png);
                
    }
}
}

.services-uptitle {
  
    font-weight: 600;
font-size: 8px;
line-height: calc(13 / 8);
color:var(--gray);
text-transform: uppercase;
display: flex;
margin-bottom: 20px;
flex-direction: row;
align-items: center;
gap: 20px;
    &::before {
        content:" ";
        width: 60px;
        height: 1px;
        background-color:var(--gray);
    }
@include mobile {
    font-size: 11px;
line-height: calc(15 / 11);
}
}
.services-title {
    font-size: 28px;
    line-height: calc(34 / 28);
    color: var(--white);
    margin-bottom: 44px;
    text-align:left;
    @include mobile     {
    text-align: center;
    font-size: 40px;
    line-height: calc(47 / 40);
    text-align: start;
}
@include tabl {
    font-size: 42px;
    line-height: calc(49.3 / 42);
    text-align: start;
}
}

.prices-wrapper {
   display: none;
   justify-content: center;

@include desk{
    justify-content: space-between;
    display: flex;
    gap: 30px;
    margin-bottom: 44px;
}
}
.prices-list__whiter {
    background-image: linear-gradient(180deg,
    #171A24 0%,
   rgba(23, 26, 36, 0.2) 100%);
}
.services-list {
display: none;
@include tabl{
    display: none;
}
@include desk {
    width: 570px;
    height: 240px;
    padding: 30px 0 0 40px;
    display: flex;
   flex-direction: column;
    background-image: linear-gradient(180deg,
    #171A24 0%,
   rgba(23, 26, 36, 0.2) 100%);
    padding: 30px 20px;
  }
}
.services-item {
    display: flex;
    justify-content: space-between;
    flex-direction:row;
    align-items: baseline;
    color: var(--gray100);
    &::before {
        content: " ";
        height: 1px;
        order: 1;
        flex-grow: 1;
        background-color: #9DA4BD1F;
    }
  &:not(:last-child){
    margin-bottom: 20px;
  }
  
    }
.prices-text {
    display: block;
font-size: 12px;
line-height: calc(18 / 12);
font-weight: 400;
order: 3;
&:first-child {
    order: -1;
}
@include mobile {
    font-size: 14px;
line-height: calc(20 / 14);
}
@include tabl{
    font-size: 18px;
    line-height: calc(30 / 18);
}
}
.prices-list {
    display: none;

@include desk{
  width: 570px;
  height: 240px;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(180deg,
  #090B13 0%,
  rgba(9, 11, 19, 0.2) 100%);

}
}
.prices-btn {
    font-weight: 600;
    border: 1px solid var( --orange);
    color: var(--white);
    padding: 12px 0;
    border-radius: 25px;
    width: 160px;
    height: 40px;
    &:focus,
    &:hover {
        background-color: var(--orange);
            color: var(--white);
    }
}
.prices-btn__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;   
}
.prices-mob {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(180deg,
    #090B13 0%,
    rgba(9, 11, 19, 0.2) 100%);
   padding: 30px 10px 30px 40px;
    margin-bottom: 44px;
    max-width: 100%;
@include mobile{
   padding: 30px 20px 30px 40px;
}
@include tabl {
   width: 703px;
  max-height: 444px;
  padding: 32px 40px;
}
@include desk{
    display: none;
    opacity: 0;
}
}